#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 40px 0;

  h1 {
    margin: 30px 0 0 0;
    color: #008000;
  }

  h2 {
    margin: 35px 0 10px 0;
  }

  .description {
    font-size: 15px;
    font-weight: normal;
  }

  .clear {
    clear: both;
  }

  input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 7px;
    font-size: 15px;
    width: 50%;
  }

  @media screen and (max-width: 480px) {
    input[type="text"] {
      width: 90%;
    }
  }

  select {
    border: 2px solid #ccc;
    border-radius: 10px;
    height: 35px;
    padding: 7px;
    font-size: 15px;
  }

  #when {
    margin: auto;
    width: 360px;

    #date {
      float: left;
      margin: 0 5px;

      input[type="text"] {
        width: 120px;
      }

      input::placeholder {
        color: black;
      }
    }

    #time {
      float: left;
      margin: 0 0 0 10px;
      
      select {
        width: 90px;
      }
    }
  }

  @media screen and (max-width: 480px) {
    #when {
      width: 100%;
      #date {
        input[type="text"] {
          width: 110px;
        }
      }
    }
  }

  #repeatItemList {
    mergin: 0 10px;
    ul {
      list-style: none;
      width: 50%;
      margin: auto;
      li {
        margin: 0 20px 10px 0;
        float: left;
      }
    }
    input[type="radio"] {
      font-size: 15px;
    }
    label {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    #repeatItemList {
      ul {
        width: 100%;
      }
    }
  }

  #generatedRemind {
    color: #008000;
    #remindCommand {
      margin: auto;
      width: 50%;
      border: solid 2px #777;
      padding: 7px;
      label {
        font-size: 15px;
        color: #ff0000;
        font-weight: bold;
      }
    }
    button {
      padding: 6px;
      margin: 15px;
      font-size: 14px;
      font-family: antialiased;
    }
  }
  @media screen and (max-width: 480px) {
    #generatedRemind {
      #remindCommand {
        width: 90%;
      }
    }
  }
}
